<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <node name="path_follower" pkg="naex" type="path_follower"
          respawn="true" respawn_delay="1.0" output="screen">

        <rosparam>
            map_frame: local_utm
            odom_frame: imu_odom
            robot_frame: base_link
            control_freq: 10.0
            goal_reached_dist: 1.5
            # goal_reached_dist: 0.0  # debug
            goal_reached_angle: .inf
            use_path_theta: none
            max_age: 1.0
            <!--
            Max. path distances, tail is consumed first by reached goals.
            A higher value is used in the beginning to traverse across
            unobserved area around robot.
            -->
            max_path_dist: [2.0]
            increasing_waypoint_index: true
            look_ahead: 2.0
            max_speed: 0.8
            allow_backward: false
            max_force_through_speed: 0.2
            turn_on_spot_angle: 0.524  <!-- 30 deg. -->
            max_angular_rate: 1.5
            keep_path: 0.1
            keep_cloud_box: [[-3.0, 3.0], [-3.0, 3.0], [-2.0, 2.0]]
            clearance_box: [[-0.8, 0.8], [-0.5, 0.5], [-0.5, 0.5]]
            show_clearance_pos: [-2, 2]
            min_points_obstacle: -1

            force_through_after: 3600.
            backtrack_after: 3600.
        </rosparam>

        <!-- Inputs -->
        <remap from="path" to="path"/>
        <remap from="cloud" to="~/unused/cloud"/>

        <!-- Outputs -->
        <remap from="clearance" to="~/unused/clearance"/>
        <remap from="cmd_vel" to="~/cmd_vel"/>
    </node>
</launch>
