<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <node name="grid_planner" pkg="naex" type="grid_planner"
          respawn="true" respawn_delay="1.0" output="screen">
        
        <rosparam subst_value="true">
            position_field: x
            cost_fields: [cost, cost, cost]
            cloud_weights: [1.0, 1.0, 1.0]
            map_frame: local_utm
            robot_frame: base_link
            max_cloud_age: 5.0
            input_range: 5.0
            cell_size: 0.4
            forget_factor: 0.1
            max_costs: [.nan, .nan, .nan]
            default_costs: [.nan, .nan, .nan]
            neighborhood: 8
            min_path_cost: 1.0
            planning_freq: 1.0
            plan_from_goal_dist: 2.0
            num_input_clouds: 3
            input_queue_size: 2
            start_on_request: true
            stop_on_goal: true
            goal_reached_dist: 3.0
            mode: 2
        </rosparam>

        <!-- Services -->
        <remap from="get_plan" to="get_plan"/>

        <!-- Inputs -->
        <remap from="input_cloud_0" to="osm_grid"/>
        <remap from="input_cloud_1" to="geometric_traversability"/>
        <remap from="input_cloud_2" to="semantic_traversability_v2"/>

        <!-- Outputs -->
        <remap from="map" to="planner_map"/>
        <remap from="grid" to="grid"/>
        <remap from="local_map" to="local_map"/>
        <remap from="path" to="path"/>
        <remap from="planning_freq" to="planning_freq"/>
    </node>
</launch>
