<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="robot" default="spot-3"/><group if="$(eval {'ctu-robot': 0, 'flip': 0, 'marv-robot': 0, 'spot-3': 0}[robot])"/>
    <arg name="localize" default="true"/>
    <arg name="rviz" default="false"/>
    <arg name="mapdata_path" default="$(find map_data)/data/"/>
    <arg name="mapdata_file" default="buchlovice.mapdata"/>
    <arg name="test" default="false"/>
    <arg name="test_case" default="buchlovice"/>

    <group if="$(eval localize)">
        <include file="$(dirname)/local_utm.launch">
            <arg name="test" value="$(arg test)"/>
            <arg name="case" value="$(arg test_case)"/>
        </include>
        <include file="$(dirname)/transform_align.launch"/>
        <include file="$(dirname)/utm_odom.launch"/>
    </group>

    <include file="$(find osm2qr)/launch/qr2geo.launch">
        <arg name="robot" value="$(arg robot)"/>
    </include>
    <include file="$(dirname)/goal_parser.launch">
        <arg name="test" value="$(arg test)"/>
    </include>
    <include file="$(dirname)/status_summary.launch"/>

    <include file="$(find map_data)/launch/osm_cloud.launch">
        <arg name="mapdata_path" value="$(arg mapdata_path)"/>
        <arg name="mapdata_file" value="$(arg mapdata_file)"/>
        <arg name="grid_topic" value="osm_grid"/>
    </include>
    <include file="$(dirname)/geometric_traversability.launch"/>
    <!--<include file="$(dirname)/semantic_traversability.launch"/>-->

    <include file="$(dirname)/planner.launch"/>
    <include file="$(dirname)/follower.launch"/>

    <include if="$(eval rviz)" file="$(dirname)/rviz.launch">
        <arg name="robot" value="$(arg robot)"/>
    </include>

    <group if="$(eval test)">
        <include file="$(dirname)/fake_gps.launch">
            <arg name="file" value="$(arg test_case).gps"/>
        </include>
        <include file="$(find osm2qr)/launch/rviz2qr.launch"/>
    </group>
</launch>
