<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <arg name="robot" default="spot-3"/><group if="$(eval {'ctu-robot': 0, 'flip': 0, 'marv': 0, 'spot-3': 0}[robot])"/>
    <arg name="localize" default="true"/>
    <arg name="rviz" default="false"/>
    <arg name="mapdata_file" default="$(find map_data)/data/buchlovice.mapdata"/>

    <group if="$(eval localize)">
        <include file="$(dirname)/local_utm.launch"/>
        <include file="$(dirname)/transform_align.launch"/>
        <include file="$(dirname)/utm_odom.launch"/>
    </group>

    <include file="$(find osm2qr)/launch/qr2geo.launch">
        <arg name="robot" value="$(arg robot)"/>
    </include>
    <include file="$(dirname)/goal_parser.launch"/>
    <include file="$(dirname)/status_summary.launch"/>

    <include file="$(find map_data)/launch/osm_cloud.launch">
        <arg name="mapdata_file" value="$(arg mapdata_file)"/>
        <arg name="grid_topic" value="osm_grid"/>
    </include>

    <include file="$(dirname)/planner.launch"/>
    <include file="$(dirname)/follower.launch"/>

    <include if="$(eval rviz)" file="$(dirname)/rviz.launch"/>
</launch>
