<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <node name="rviz" pkg="rviz" type="rviz" output="screen"
          args="-d $(dirname)/robotour.rviz" respawn="true" respawn_delay="1.0"/>

    <node name="set_rviz_log_level" pkg="rosservice" type="rosservice"
          args="call --wait /rviz/set_logger_level 'ros.rviz' 'error'"/>
</launch>
