<?xml version="1.0" encoding="UTF-8" ?>
<launch>
    <node name="status_summary" pkg="robotour" type="status_summary"
          respawn="true" respawn_delay="1.0" output="screen">

        <!-- Inputs -->
    <remap from="navsatfix" to="gnss/septentrio/fix"/>
        <remap from="atteuler" to="atteuler"/>

        <!-- Outputs -->
        <remap from="status_summary" to="status_summary"/>
    </node>
</launch>
